<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BusinessServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SystemConfigurator</display-name>
    <servlet-name>SysConfig</servlet-name>
    <servlet-class>com.api.config.WebSystemConfigController</servlet-class>
     <init-param>
      <param-name>Environment</param-name>
      <param-value>DEV</param-value>
     </init-param>
     <init-param>
      <param-name>ContainerManagedPool</param-name>
      <param-value>true</param-value>
     </init-param>
     <init-param>
      <param-name>AppServerConfigSource</param-name>
      <param-value>/tmp/AppServer/config/RMT2AppServerConfig.xml</param-value>
     </init-param>
     <init-param>
      <param-name>JmsProviderUrl</param-name>
      <param-value>tcp://localhost:61616</param-value>
     </init-param>
     
<!-- Remove the remaining parameters since we will be using on XML file to house all configuration details instead of LDAP!! -->     
     <init-param>
      <param-name>ServiceLoaderFactory</param-name>
      <param-value>ldap</param-value>
     </init-param>
     <init-param>
      <param-name>LdapBaseDn</param-name>
      <param-value>ou=Web Services,ou=Resources</param-value>
     </init-param>
     <init-param>
      <param-name>LdapMapperClass</param-name>
      <param-value>com.api.ldap.beans.LdapWebServiceConfig</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysConfig</servlet-name>
    <url-pattern>/SysConfig</url-pattern>
  </servlet-mapping>
</web-app>